body {
    padding: 10px;
    text-align: center;
}
.message{
    background-color:  #15317E;
    color: white;
    font-size: 15px;
    padding: 2vw;
    margin-top: 12px;
    margin-top: 12px;
}      

.nav{
    margin-top: 2.5vw;
}
