{% extends "auctions/layout.html" %}
{% load static %}
{% block css %}
<link href="{% static 'auctions/card-style.css' %}" rel="stylesheet"> 
   {% endblock %}
{% block body %}


<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
        <h2>Active Listings</h2>
        {% if messages %}
    {% for message in messages %}
    <div class="message">{{ message }}</div>
    {% endfor %}
    {% endif %}
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3" style=" height:12px;">
            {% for list in a1 %}
            <div class="col">
                <div class="card shadow-sm mt-1"   >
                <h6  style="padding: 0.5em"> <span class="float-start">{{list.title}}</span></h6>
                <p class="mt-1"> <span class="float-start">{{list.category}}</span></p>
              
                
                    {% if list.image_url %}
                       <img src="{{ list.image_url }}" class="list_img" >
                        {% else %}
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/1024px-No_image_3x4.svg.png" alt="No image Provided" class="list_img">
                        {% endif %}
                    <div class="card-body">
                        <div class="clearfix mb-3">
                            <span class="float-start badge rounded-pill bg-success"> Start Bid ${{ list.starting_bid }}</span>
                        </div>
                        <h5 class="card-title">
                            {{ list.desc }}
                        </h5>
                        <div class="d-grid gap-2 my-4">
                            <a class="btn btn-warning" href="{% url 'listingpage' list.id %}">View Bid</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}