{% extends "auctions/layout.html" %}
{% load static %}
{% block css %}
<link href="{% static 'auctions/card-style.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}


<main>
    <div class="container-fluid bg-trasparent" style="position: relative">
        <h2>Active Listings</h2>

        <div class="row" style=" height:12px;">

            <div class="col-md-6" style=" height:12%%;">
                {% if messages %}
                {% for message in messages %}
                <div class="message">{{ message }}</div>
                {% endfor %}
                {% endif %}
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <h4 style="padding: 0.5em" class="mt-3"> <span class="float-start">{{list.title}}</span></h4>
                        <h6 class="mt-1"> <span class="float-start">{{list.category}}</span></h6>
                        {% if list.image_url %}
                        <img src="{{ list.image_url }}" class="list_img">
                        {% else %}
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/1024px-No_image_3x4.svg.png"
                            alt="No image Provided" class="list_img">
                        {% endif %}
                        <div class="card-body">
                            <div class="clearfix ">
                                <span class="float-start badge rounded bg-success">Present Bid: $ {{ present_bid}}
                                </span>

                            </div>
                            <div class="clearfix mt-3">

                                <span class="float-start">Listed By: {{ list.user }} </span>
                            </div>
                            <div class="d-grid gap-2 my-4">
                                <form class="form-group" method="get" action="{% url 'bid' %}">
                                    <input class="form-control" name="bid_amnt" placeholder="Bid Amount" type="number"
                                        required>
                                    <button class="btn btn-outline-primary mt-3" type="submit" name="list_d" value={{list.id}}>Bid Item</button>
                                </form>
                            </div>
                            <div class="d-grid gap-2 my-4">
                                <div class="bid_amnt">
                                    <form method="get" action="{% url 'addwatchlist' %}">
                                        <button class="btn btn-primary" type="submit" value={{ list.id }}
                                            name="listid">Add to Watchlist</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div id="commentsection">
                    <h3>Comments</h3>
                    <div class="card">
                        <div class="card-body">
                            <div id="commentbox">
                                <ul>
                                    {% for comment in comments %}
                                    <li><a class="comment"><a>{{ comment.user }} : {{comment.comment}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <form class="form-group mt-3" method="get" action="{% url 'allcomments' %}">
                                <input class="form-control" required type="text" placeholder="Add Comment"
                                    name="comment">
                                <button class="btn btn-primary mt-3 " type="submit" value={{ list.id }} name="listid">
                                    Comment </button>
                            </form>
                            <div class="closebid">
                                {% if list.user == user.username %}
                                <form method="get" action="{% url 'win_ner' %}">
                                    <button class="btn btn-outline-primary mt-3" type="submit" value={{ list.id }}
                                        name="listid">Close Bid</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}