{% extends "auctions/layout.html" %}
{% load static %}
{% block css %}
<link href="{% static 'auctions/card-style.css' %}" rel="stylesheet"> 
   {% endblock %}
{% block body %}
    

<main>
    <div class="container-fluid bg-trasparent" style="position: relative">
        <h2>Watch Lists</h2>
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            {% for list in user_watchlist %}
            {% if list.watch_list.active_bool == True %}
            <div class="col">
                <div class="card h-100 shadow-sm" >
                <h4  style="padding: 0.5em"class="mt-3"> <span class="float-start">{{list.watch_list.title}}</span></h4>
                <h6 class="mt-1"> <span class="float-start">{{list.watch_list.category}}</span></h6>
                    {% if list.watch_list.image_url %}
                       <img src="{{ list.watch_list.image_url}}" class="list_img" >
                        {% else %}
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/1024px-No_image_3x4.svg.png" alt="No image Provided" class="list_img">
                        {% endif %}
                    <div class="card-body">
                        <div class="clearfix ">
                            <span class="float-start badge rounded bg-success"> Current Price: $</a> {{ list.watch_list.starting_bid }} </span>
                        </div>
                        <div class="d-grid gap-2 my-4">
                            <a class="btn btn-info" href="{% url 'listingpage' list.watch_list.id %}">View Bid</a>
                        </div>
                        <form action = "{% url 'deletewatchlist' %}">
                            <button class="btn btn-primary" type = "submit" value = {{ list.id }} name = "listid" >Delete</button>
                            </form>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
       
    </div>
</main>

{% endblock %}